# APP_ENV=production
PUBLIC_SITE_URL=http://localhost:3000

# HTTP_LOGIN=web
# HTTP_PASSWORD=partners

DATABASE_URL=postgresql://admin:admin@localhost:5432/db
PAYLOAD_SECRET=replace-with-a-long-random-string
# BLOB_READ_WRITE_TOKEN=vercel_blob_rw_your-token
